@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body,
html {
  width      : 100%;
  height     : 100%;
  font-family: 'Poppins', sans-serif;
  color      : #222;
}

.navbar-brand img {
  width: 60%;
}

@media (max-width: 767px) {
  .navbar-brand img {
    display: none;
  }
}

.Dom {
  font-size  : calc(1rem + 2vw);
  text-shadow: 3px 5px 6px rgb(15, 41, 28);
  color      : rgb(251, 255, 8);
  font-family: Impact, 'Bold', sans-serif;
}

@media (min-width: 767px) {
  .Dom {
    font-size  : calc(0.5rem + 1.3vw);
    text-shadow: 3px 5px 6px rgb(15, 41, 28);
    color      : rgb(251, 255, 8);
    font-family: Impact, 'Bold', sans-serif;
    display    : inline;
  }
}

.Dom3 {
  height                 : 350px;
  background-repeat      : no-rpeat;
  background-position    : center;
  -webkit-background-size: cover;
  background-size        : cover;
  margin                 : 0 auto;
}

.Dom2 {
  font-size  : calc(1rem + 1.5vw);
  color      : white;
  text-shadow: 3px 5px 6px rgb(0, 0, 0);
}

.nav-item a:hover {
  color    : #252421;
  transform: translate(1px, 4px);
}

.nav-item {
  font-family: Impact,
    'Bold',
    sans-serif;
}

.nav-link {
  color: #EC9704;
}

#navbarSupportedContent li {
  font-size: 1.5em;
  padding  : 2px 5px 1px;
}

.dropdown-menu a {
  color: #EC9704;
}

.bi {
  vertical-align: -.125em;
  fill          : currentColor;
}

.bi:hover {
  color: #252421;
}

nav.navbar .dropdown:hover>.dropdown-menu {
  display: block;
}

.password {
  width   : 300px;
  margin  : 15px auto;
  position: relative;
}

.password-control {
  position  : absolute;
  top       : 210px;
  right     : 30px;
  display   : inline-block;
  width     : 20px;
  height    : 20px;
  background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
}

.password-control.view {
  background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
}

.offcanvas-body li:hover {
  background-color: #ec9704;
  color           : aliceblue;
}
